  body{
        background-color: #14bdac;
      }

      canvas{
        background-color: white;
      }

      h1{
        text-align: center;
        color: white;
        text-decoration: underline;
        margin-bottom: 30px;
        margin-top: 20px;
        font-style: italic;
      }

      h3{
        text-align: center;
        color: white;
        font-style: italic;
      }

     h5{
        color: white;
        font-style: italic;
     }


      .button{
       
        margin-top: 15px;
        width: 100px;
      }

      .btn{
         border-top-right-radius: 20px; 
        border-top-left-radius:20px ;
        border-bottom-right-radius:20px ;
        border-bottom-left-radius: 20px; 
      }