body{
    background-image: url(background.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box{
    background-color:antiquewhite;
    margin-top: 100px;
    text-align: center;
    font-family: courier New ;
    padding-top: 10px;
    
}

#new:hover{
    cursor: pointer;
    
}

#new:hover .icon{
    padding-right: 7px;
    transition: 0.15s;
    transition-timing-function: ease-in;
    
}

.player-0{
    padding-bottom: 60px;
}

.player-1{
    padding-bottom: 60px;
}

.score-0{
    margin-top: 40px;
    margin-bottom: 40px;
}

.current-box{
    background-color: crimson;
    margin: auto;
    width: 30%;
    color: aliceblue;
    padding: 7px;
}











 